<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/7a3f7fb6-54b6-412f-ae6e-b7daa0d75ed4/resourceGroups/OrdersSearchServiceApi20201028125132ResourceGroup/providers/Microsoft.Web/sites/OrdersSearchServiceApi20201028125132</ResourceId>
    <ResourceGroup>OrdersSearchServiceApi20201028125132ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://orderssearchserviceapi20201028125132.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://orderssearchserviceapi20201028125132.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>2f71d813-1fbe-40cc-a9fb-2fe55d5f28a4</ProjectGuid>
    <MSDeployServiceURL>waws-prod-sn1-165.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>OrdersSearchServiceApi20201028125132</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$OrdersSearchServiceApi20201028125132</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>